<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>TinyApp</title>
</head>
<%- include("partials/_header"); %>
<body>
    <h2><a href="/urls/new">Create new Tiny Links</a></h2>
    <h2>Your Links:</h2>
        
    <ul>
            <%  if(username){ %>
        <% for (var url in urls) { %>
            <li><%=  url %> ----> <%= urls[url].longURL %></li>
            <a href="/urls/<%= url%>">Edit</a> 
            <form method="POST" action="/urls/<%= url%>/delete">
            <button type="Submit">Delete</button>
        </form>
        <% } %>
        <% }; %>
    </ul>
</body>
</html>
