<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>TinyApp</title>
</head>
<%- include("partials/_header"); %>
<body>
    <h2><a href="/urls/new">Create new Tiny Links</a></h2>
    <h2>Your Links:</h2>
        
    <ul>
        <% if(username){ %>
            <% for (let singleUrl of urls) { %>
                <li><%=  singleUrl.shortURL %> ----> <%= singleUrl.longURL %></li>
                <a href="/urls/<%= singleUrl.shortURL%>">Edit</a> 
                <form method="POST" action="/urls/<%= singleUrl.shortURL%>/delete">
                    <button type="Submit">Delete</button>
                </form>
            <% } %>
        <% } %>
    </ul>
</body>
</html>
